In [18]:
import pandas as pd

# Load the CSV files
access = pd.read_csv("anonymized_access-log.csv")
parking = pd.read_csv("anonymized_parking_file.csv")

# Print column names for debugging
print("Access has the following columns:", access.columns)
print("Parking has the following columns:", parking.columns)

# Merge access and parking data on User and HOLDERS NAME columns
result = access.merge(parking, left_on="User", right_on="HOLDERS NAME", how="inner")

# Convert 'Time' column to datetime format
result['Time'] = pd.to_datetime(result['Time'], format='%b %d, %Y, %I:%M:%S %p')

# Extract date from 'Time' and create a new 'Date' column
result['Date'] = result['Time'].dt.date

# Group by 'User' and count occurrences
user_showup_count = result['User'].value_counts().reset_index()
user_showup_count.columns = ['User', 'ShowUpCount']

# Get distinct users
distinct_users = result['User'].unique()

# Ensure 'Date' column is in datetime format (if needed)
result['Date'] = pd.to_datetime(result['Date'])

# Find the earliest and latest date in the 'Date' column
earliest_date = result['Date'].min()
latest_date = result['Date'].max()

# Drop duplicates to keep only one entry per User per Date
daily_unique_entries = result.drop_duplicates(subset=['User', 'Date'])

# Print the date range and the number of unique people with parking permits
print(f"There were {len(parking['HOLDERS NAME'].unique())} unique people with parking permits from {earliest_date.date()} to {latest_date.date()}")

# Display the number of distinct users
print(len(distinct_users))

# Calculate cost based on how many times a user showed up (75 per occurrence)
user_showup_count['Cost'] = 75 * user_showup_count['ShowUpCount']

# Calculate savings as the difference between 1000 and the Cost
user_showup_count['Savings'] = 1000 - user_showup_count['Cost']

# Display the updated dataframe with User, ShowUpCount, Cost, and Savings
print(user_showup_count[['User', 'ShowUpCount', 'Cost', 'Savings']])

# Filter rows where Cost is less than 1000 (i.e., users who would save money)
filtered_users = user_showup_count[user_showup_count['Cost'] < 1000]

# Sort by Savings in descending order
user_daily_showup_count_sorted = filtered_users.sort_values(by='Savings', ascending=False)

# Filter for positive savings
positive_savings = user_daily_showup_count_sorted[user_daily_showup_count_sorted['Savings'] > 0]

# Sum the positive savings
monthly_savings = positive_savings['Savings'].sum()

# Print the monthly savings
print(f"Monthly Savings: {monthly_savings}")

# Display top rows of sorted users with positive savings
user_daily_showup_count_sorted.head()

Access has the following columns: Index(['N', 'Time', 'User', 'EmployeeId', 'Door', 'Entry/Exit', 'Result',
       'Credential'],
      dtype='object')
Parking has the following columns: Index(['REF ', 'HOLDERS NAME', 'CARD_NUM', 'EMPLOY', 'COMPANY', 'DEPARTMENT',
       'Unnamed: 7'],
      dtype='object')
There were 80 unique people with parking permits from 2024-10-01 to 2024-11-07
80
                 User  ShowUpCount  Cost  Savings
0         Royce White          124  9300    -8300
1        Layla Jensen           58  4350    -3350
2           Cash Moss           45  3375    -2375
3       Dorothy Sharp           41  3075    -2075
4       Bianca Hughes           40  3000    -2000
..                ...          ...   ...      ...
75      Kehlani Pitts           13   975       25
76       Trey Summers           13   975       25
77  Mackenzie Parrish           12   900      100
78       Avi Hamilton           12   900      100
79      Karsyn Lawson           11   825      175

[80 rows x 4 columns]
Monthly Savings: 575

                 User  ShowUpCount  Cost  Savings
79      Karsyn Lawson           11   825      175
77  Mackenzie Parrish           12   900      100
78       Avi Hamilton           12   900      100
71    Frankie Escobar           13   975       25
70       Cody Wheeler           13   975       25

In [ ]:
import pandas as pd

# Load the CSV files
access = pd.read_csv("anonymized_access-log.csv")
parking = pd.read_csv("anonymized_parking_file.csv")

# Print column names for debugging
print("Access has the following columns:", access.columns)
print("Parking has the following columns:", parking.columns)

# Merge dataframes to find users in access but not in parking based on HOLDERS NAME and User columns
result = access[~access['User'].isin(parking['HOLDERS NAME'])]

# Convert 'Time' column to datetime format
result['Time'] = pd.to_datetime(result['Time'], format='%b %d, %Y, %I:%M:%S %p')

# Extract date from 'Time' and create a new 'Date' column
result['Date'] = result['Time'].dt.date

# Drop duplicates to keep only one entry per User per Date
daily_unique_entries = result.drop_duplicates(subset=['User', 'Date'])

user_showup_count = daily_unique_entries['User'].value_counts().reset_index()
user_showup_count.columns = ['User', 'ShowUpCount']

user_showup_count.sort_values(by='ShowUpCount', ascending=False)

user_showup_count['Cost'] = 75 * user_showup_count['ShowUpCount']

user_showup_count = user_showup_count['Savings'] = user_showup_count['Cost'] - 1000

# # Filter for positive savings
positive_savings = user_showup_count[user_showup_count['Savings'] > 0]
positive_savings.head()

# print(positive_savings)
# # Sum the positive savings
# monthly_savings = positive_savings['Savings'].sum()

# # Print the monthly savings
# print(f"Monthly Savings: {monthly_savings}")


# user_showup_count.head()

Access has the following columns: Index(['N', 'Time', 'User', 'EmployeeId', 'Door', 'Entry/Exit', 'Result',
       'Credential'],
      dtype='object')
Parking has the following columns: Index(['REF ', 'HOLDERS NAME', 'CARD_NUM', 'EMPLOY', 'COMPANY', 'DEPARTMENT',
       'Unnamed: 7'],
      dtype='object')

C:\Users\HenkBornman\AppData\Local\Temp\ipykernel_14940\2764662098.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Time'] = pd.to_datetime(result['Time'], format='%b %d, %Y, %I:%M:%S %p')
C:\Users\HenkBornman\AppData\Local\Temp\ipykernel_14940\2764662098.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Date'] = result['Time'].dt.date

                 User  ShowUpCount  Cost  Savings
79      Karsyn Lawson           11   825      175
77  Mackenzie Parrish           12   900      100
78       Avi Hamilton           12   900      100
71    Frankie Escobar           13   975       25
70       Cody Wheeler           13   975       25